.page_icon {
    font-size: 55pt;
    margin-bottom: 3px;
    margin-top: -3px;
}

.page_caption {
    font-weight: bolder;
}

.page_input {
    text-align: center;
}

.page_btn {
    height: 40px;
}
